:root{
    --black: #101018ff;
    --less-black: #26262B;
    --grey: rgb(51, 51, 51);
    --border-grey: #6e6e6e;
    --beige: #C9C19F;
    --whiter-beige: #e2ddcbff;
    --white: white;
}

@font-face {
    font-family: moms;
    src: url(/assets/fonts/tox.ttf) format('truetype');
}

html, body {
    overflow-x: hidden;
}
body {
    background-image: repeating-linear-gradient(
            90deg,
            #ffffff33 0px, /* Blanc semitransparent */
            #ffffff33 2px, /* Amplada de la ratlla */
            #0000000D 1px, /* Negre molt suau */
            #0000000D 25px /* Separació entre ratlles */
    );
    display: flex;
    flex-direction: column;
    background-blend-mode: overlay;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--beige);
    line-height: 1.6;
}

header h1 {
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section {
    width: 85%;
    max-width: 1300px;
    margin: 20px 0;
    background-color: var(--whiter-beige);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    position: relative;
}

.section .section-img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    float: right;
    margin-left: 20px;
}

.section .director-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    float: right;
    margin-left: 20px;
}

.section * {
    color: #555;
}

.section h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

.section p {
    color: #555;
    font-size: 16px;
}

.section p.intro {
    font-style: italic;
}

#titol-seccio{
    text-align: center;
    color: var(--less-black);
    font-size: 3rem;
    font-family: tox;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

th, td {
    border: 1px solid var(--less-black);
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f5f5f5;
}  